<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/auth.css">
  <script src="https://kit.fontawesome.com/15486c4cca.js" crossorigin="anonymous"></script>

</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <div class="container" id="container">

    <div class="form-container sign-up-container">
      <form name="signup_form">
        <h1>Create Account</h1>
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="submit" value="Sign Up" class="btn">
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form name="login_form">
        <h1>Sign in</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        </div>
        <!-- Don't give these that same name as the registration var -->
        <input type="text" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <a href="#">Forgot your password?</a>
        <input type="submit" value="Log In" class="btn">
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Connect With Your Class</h1>
          <p>Create an account or click below to log in</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Welcome Back!</h1>
          <p>Sign in to connect with your School</p>
        </div>
      </div>
    </div>
  </div>


  <script src="../static/js/auth.js"></script>
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>
</body>

</html>


<!--

{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

  <div class="card">

    <h1 class="center">Create an Account</h1>

    <form name="signup_form">

      <label for="name">Name</label>
      <input type="text" name="name" class="field" required>

      <label for="email">Email</label>
      <input type="email" name="email" class="field" required>

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Sign Up" class="btn">

    </form>

  </div>

  <div class="card">

    <h1 class="center">Log In</h1>

    <form name="login_form">

      <label for="email">Email</label>
      <input type="email" name="email" class="field" required>

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Log In" class="btn">

    </form>

  </div>

</div>
{% endblock %}

-->